# Import the required Libraries

In [1]:
import os
import sys
import pandas as pd
from sklearn import preprocessing,tree,neighbors,metrics,linear_model
from sklearn_pandas import DataFrameMapper,CategoricalImputer
import numpy as np
from sklearn import model_selection,ensemble
import seaborn as sns
from sklearn import feature_selection
import math
import matplotlib.pyplot as plt

In [2]:
print("Am here")

Am here

sales_train = pd.read_csv("sales_train.csv")
sales_train.shape

## METHOD 1 - Get Null Value Counts in All the fields in the file.

In [13]:
sales_train.isna().sum()

date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dtype: int64

## METHOD 2 - Get Null Value Counts in All the fields in the file.

In [6]:
print(sales_train.apply(lambda x : sum(x.isnull())))

date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dtype: int64

## Method 1 - Group by : Get the counts of Shop Id Values --> Group by Shop_id

In [10]:
print("Value_counts\n",pd.value_counts(sales_train["shop_id"]))

Value_counts
 31    235636
25    186104
54    143480
28    142234
57    117428
42    109253
27    105366
6      82663
58     71441
56     69573
46     66321
50     65173
19     63911
15     59511
35     58445
21     58133
7      58076
47     56695
26     53910
18     53227
24     53032
53     52921
16     52734
30     50860
29     49225
38     46013
22     45434
51     44433
52     43502
59     42108
41     41967
37     39638
44     39530
43     39282
4      38242
5      38179
14     36979
45     35891
55     34769
12     34694
2      25991
3      25532
17     22950
48     21612
10     21397
13     17824
49     15849
39     13440
0       9857
32      7947
23      6963
34      5752
1       5678
33      5027
40      4257
9       3751
8       3412
20      1792
11       499
36       306
Name: shop_id, dtype: int64

In [ ]:
sales_train.info()

In [15]:
print("Value_counts\n",pd.value_counts(sales_train["item_id"]))

Value_counts
 20949    31340
5822      9408
17717     9067
2808      7479
4181      6853
7856      6602
3732      6475
2308      6320
4870      5811
3734      5805
1855      5681
5821      5389
16787     5283
6675      5122
7894      5107
2445      5056
1830      4976
5823      4974
6497      4904
5272      4853
13071     4804
6740      4675
3183      4615
4178      4527
2416      4487
7893      4380
6466      4324
6498      4278
6503      4274
6457      4269
         ...
181          1
2647         1
599          1
21074        1
20670        1
601          1
14942        1
4278         1
596          1
595          1
19010        1
594          1
16255        1
7731         1
588          1
2636         1
184          1
21060        1
18290        1
4684         1
590          1
21061        1
183          1
15913        1
3628         1
593          1
13866        1
16574        1
20668        1
0            1
Name: item_id, Length: 21807, dtype: int64

## Method 2 - Group by : Get the counts of Shop Id Values --> Group by Shop_id

In [14]:
group = sales_train.groupby(['item_id']).agg({'item_id': ['count']})
print(group)

        item_id
          count
item_id
0             1
1             6
2             2
3             2
4             1
5             1
6             1
7             1
8             2
9             1
10            1
11            1
12            1
13            1
14            1
15            1
16            1
17            1
18            1
19            1
20            1
21            1
22            1
23            1
24            1
25            1
26            1
27           42
28           86
29           14
...         ...
22140       290
22141        48
22142        10
22143       647
22144       112
22145       286
22146        29
22147        63
22148         2
22149        35
22150        58
22151       283
22152        84
22153         9
22154        59
22155        75
22156         4
22157         4
22158         1
22159        14
22160        49
22161         1
22162       560
22163        71
22164       408
22165         2
22166       270
22167      1114
22168         6
22169         1

[21807 rows x 1 columns]

In [ ]:
sales_test = pd.read_csv("test.csv")
sales_test.shape

In [ ]:
sales_train.info()

In [ ]:
sales_train.shop_id.unique()

In [ ]:
test_shops = sales_test.shop_id.unique()
sales_train = sales_train[sales_train.shop_id.isin(test_shops)]
test_items = sales_test.item_id.unique()
sales_train = sales_train[sales_train.item_id.isin(test_items)]

In [ ]:
print(sales_train)

In [ ]:
sales_train.date.max()

In [ ]:
sales_train.date_block_num.min()

In [ ]:
dates   = pd.to_datetime(sales_train['date'], format='%d.%m.%Y')

In [ ]:
print(dates.max())

In [ ]:
print(dates.min())

In [ ]:
sales_train.head()

In [ ]:
sales_train.tail()

In [ ]:
print("train:",sales_train.shape,"test:",sales_test.shape,)

In [ ]:
print("================================")
print(sales_train.info())
print("================================")
print(sales_test.info())
print("================================")

In [ ]:
sample_submission = pd.read_csv("sample_submission.csv")
sample_submission.shape

In [ ]:
print(sample_submission)